mat-cell {
  margin-right: 5px;
  overflow: visible;
  word-break: break-word;
}

mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
  padding-right: 0
}

.non-table-body {
  margin: 10px 12px 0 12px;
}

#delete-button {
  margin-left: 5px;
}