<div class="non-table-body">
  <mat-checkbox (click)="this.productService.toggleFilter()" checked="{{this.productService.showDone ? '' : 'check'}}">Hide Done?</mat-checkbox>
</div>

<mat-table #productTable [dataSource]="this.productService.productsDataSource" matSort>
  <ng-container matColumnDef="{{productService.productNameIdentifier}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
    <mat-cell *matCellDef="let entry"> {{entry[productService.productNameIdentifier]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="{{productService.costIdentifier}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Cost </mat-header-cell>
    <mat-cell *matCellDef="let entry"> € {{entry[productService.costIdentifier].toFixed(2)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="{{productService.doneIdentifier}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Done </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-checkbox 
        (click)="this.productService.updateDone(entry)" 
        checked="{{entry[productService.doneIdentifier] == 1 ? 'check' : ''}}">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <button class="accent" (click)="this.productService.deleteProduct(entry)" mat-icon-button	>
          <mat-icon aria-label="Delete Icon">delete</mat-icon>
        </button>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="non-table-body">
  <p>Total cost: <strong>€ {{this.productService.getFormattedCostSum()}}</strong></p>
</div>