<div class="non-table-body">
  <mat-checkbox id="hide-done-box" (click)="this.productService.toggleFilter()" checked="{{this.productService.showDone ? '' : 'check'}}">Hide Done?</mat-checkbox>
</div>

<mat-table #productTable [dataSource]="this.productService.productsDataSource" matSort>
  <ng-container matColumnDef="{{productService.productNameIdentifier}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
    <mat-cell *matCellDef="let entry"> {{entry[productService.productNameIdentifier]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="{{productService.costIdentifier}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'cost-cell'"> Cost </mat-header-cell>
    <mat-cell *matCellDef="let entry" [ngClass]="'cost-cell'"> € {{entry[productService.costIdentifier].toFixed(2)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="{{productService.doneIdentifier}}">
    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'icon-cell'"> Done </mat-header-cell>
    <mat-cell *matCellDef="let entry" [ngClass]="'icon-cell'">
      <mat-checkbox 
        (click)="this.productService.updateDone(entry)" 
        checked="{{entry[productService.doneIdentifier] == 1 ? 'check' : ''}}">
      </mat-checkbox>
      <button class="accent" id="delete-button" (click)="this.productService.deleteProduct(entry)" mat-icon-button>
        <mat-icon aria-label="Delete Icon">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="non-table-body">
  <p>Total cost: <strong>€ {{this.productService.getFormattedCostSum()}}</strong></p>
</div>