mat-form-field {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    mat-form-field {
        width: 48%;
    }
} 

#add-note {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

#refresh-table-button {
  background-color: #7f8082;
  position: absolute;
  bottom: 48px;
  right: 110px;
}

@media only screen and (min-width: 992px) {
    #add-note {
        position: absolute;
        bottom: 48px;
        right: 48px;
    }
} 