<h2 mat-dialog-title>New Product</h2>
<mat-dialog-content (keyup)="saveOnEnter($event)">
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Product" formControlName="productName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput min="0.01" max="1000000000000" type="number" placeholder="Cost" formControlName="cost" required>
    </mat-form-field>
  </form>
  <div *ngIf="containsTypedProduct()">
    <mat-hint>
        Product already contained!
    </mat-hint>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()" 
            disabled="{{containsTypedProduct() ? 'disabled' : ''}}">
      Save
    </button>
</mat-dialog-actions>