<div class="non-table-body">
  <mat-checkbox (click)="this.productService.toggleFilter()" checked="{{this.productService.showDone ? '' : 'check'}}">Hide Done?</mat-checkbox>
</div>

<mat-table #productTable [dataSource]="this.productService.productsDataSource" matSort>
  <ng-container matColumnDef="productName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
    <mat-cell *matCellDef="let entry"> {{entry[productService.productNameIdentifier]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Cost </mat-header-cell>
    <mat-cell *matCellDef="let entry"> € {{entry[productService.costIdentifier]}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="done">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Done </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-checkbox 
        (click)="this.productService.updateDone(entry)" 
        checked="{{entry[productService.doneIdentifier] == 1 ? 'check' : ''}}">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="non-table-body">
  <p>Total cost: <strong>{{this.productService.costSum}}</strong></p>
</div>